img {
    height: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

p1 {
    text-align: center;
    padding-top: 700px;
    padding-left: 650px;
}